<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buttonTag</key>
		<integer>0</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>0</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>1</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>1</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>2</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>2</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>3</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>3</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>4</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>4</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>5</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>5</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>6</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>6</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>7</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>7</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>8</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>8</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>9</integer>
		<key>type</key>
		<integer>0</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>9</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>26</integer>
		<key>type</key>
		<integer>3</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>AC</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>11</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>+</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>12</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>-</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>13</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string>x</string>
		<key>equationString</key>
		<string>*</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>14</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string>÷</string>
		<key>equationString</key>
		<string>/</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>21</integer>
		<key>type</key>
		<integer>3</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>.</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>22</integer>
		<key>type</key>
		<integer>1</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>%</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>200</integer>
		<key>type</key>
		<integer>6</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>=</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>24</integer>
		<key>type</key>
		<integer>3</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>(</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
	<dict>
		<key>buttonTag</key>
		<integer>25</integer>
		<key>type</key>
		<integer>3</integer>
		<key>hasSecondFunction</key>
		<false/>
		<key>displayString</key>
		<string></string>
		<key>equationString</key>
		<string>)</string>
		<key>secondaryDisplayString</key>
		<string></string>
		<key>secondaryEquationString</key>
		<string></string>
	</dict>
</array>
</plist>
